html {
  font-size: 62.5%;
}

body {
  padding: 0rem;
  margin: 0rem;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.header {
  padding-left: 13.7rem;
  background-color: white;
  height: 8.4rem;
  width: auto;
  box-shadow: 0rem 0.3rem 3rem #7b7b7b29;
  position: relative;
}

.header-text {
  font: normal normal bold 3.5rem/4.9rem Inter;
  position: absolute;
  left: 13.7rem;
  top: 2.3rem;
}

.main-container {
  margin-top: 3rem;
  margin-right: 16rem;
  margin-left: 17rem;
}


.add-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.plus {
  height: 4rem;
  width: 4rem;
  font-size: 1.8rem;
  color: white;
  background-color: #00a5ec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
}

.add-task-text {
  font: normal normal normal 2.2rem/2.6rem Inter;
  margin-left: 0.8rem;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 3.0rem;
  flex-wrap: wrap;
}

.card {
  height: 33.0rem;
  width: 32.2rem;
  border-radius: 1.0rem;
  border: 0.1rem solid #ededed;
  background-color: white;
  position: relative;
  /* margin: 10px 10px; */
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.card:hover {
  box-shadow: 0px 0px 10px #888888;
}

h4 {
  position: absolute;
  left: 3.0rem;
  font-size: 2.2rem;
  letter-spacing: 0rem;
  color: #00a5ec;
}

hr {
  position: absolute;
  top:6.0rem;
  width: 100%;
}

.item-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9.0rem;
  left: 3.0rem;
}

input {
  height: 3.0rem;
  width: 3.0rem;
  font: normal normal normal 1.8rem/2.1rem Inter;
  border: 1px solid #ededed;
  border-radius: 0.4rem;
}

.complited-task {
  font: normal normal normal 1.8rem/2.1rem Inter;
  text-decoration: line-through;
  margin-left: 1.0rem;
  color: #888888;
}

.pending-task {
  font: normal normal normal 1.8rem/2.1rem Inter;
  letter-spacing: 0rem;
  margin-left: 1.0rem;
  color: #424242;
}

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.0rem;
}

@media (max-width: 280px) {
  html {
    font-size: 30%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 51%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  html {
    font-size: 40%;
    box-sizing:  content-box;
  }

  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  
  .main-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    margin-top: 3.0rem;
    flex-wrap: wrap;
  }
  
  .card {
    height: 33.0rem;
    width: 41.2rem;
    border-radius: 1.0rem;
    border: 0.1rem solid #ededed;
    background-color: white;
    position: relative;
    /* margin: 10px 10px; */
    /* margin-top: 1.5rem; */
    margin-left: 0rem;
  }
  .header {
    padding-left: 1rem;
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .header-text {
    position: unset;
    display: inline;
    text-align: center;
  }

  .add-task-text {
    margin-left: 0rem;
    display: none;

  }
  .add-task {
    display: inline;
    text-align: center;
    margin-left: 0%;

  }

  h4 {
    position: absolute;
    left: 3.0rem;
  
    /* font: normal normal medium 2.5rem/2.4rem Inter; */
    font-size: 2.0rem;
    letter-spacing: 0rem;
    color: #00a5ec;
  }
}
